{% extends 'base.html' %}
{% block title %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />
<!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" />-->
<!--<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>-->
<script 
    src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script>
    $(document).ready(function() {

    // page is now ready, initialize the calendar...
    let now = moment().format('L');

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        dayClick: function(date, jsEvent, view) {
            if (date.format('L') === now){
                alert('Clicked on: ' + date.format());
                $(location).attr('href', {{ url_for('users.index') }});
                $(this).css('background-color', 'red');
                // show form
            }
            // change the day's background color just for fun
            // $(this).css('background-color', 'red');
        }
    });
    // const cal = $('#calendar').fullCalendar('getCalendar');
    // let m = cal.moment();
    // console.log(m);

});
</script>
<!--<script>
    moment().format();
</script>-->

<title>Calendar App</title>
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="ui middle aligned centered grid">
    <div class="twelve wide column">
        <div class="row">
            <h1>Your calendar</h1>
        </div>
        <p></p>
        <div id="calendar">

        </div>
        <div id="moment"></div>
    </div>
</div>
{% else %}
<div class="ui middle aligned centered grid">
    <div class="twelve wide column">
        <h1>Welcome to Calendar!</h1>
        <h3>Please login or sign up.</h3>
    </div>
</div>
{% endif %}

{% endblock %}