{% extends 'base.html' %}
{% block title %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />
<script 
    src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script>
    $(document).ready(function() {
        $.getJSON("/users/{{current_user.get_id()}}/dates").then(function(data){
            $('#calendar').fullCalendar({
            defaultView:'month',
            events: data.map(function(d){
                return Object.assign({}, d, {allDay: true, rendering: 'background'});
            }),
             dayClick: function(date, jsEvent, view) {
                let now = moment().format('L');
                if (date.format('L') === now){
                    let url = '/users/{{ current_user.get_id() }}/dates/new';
                    $(location).attr('href', url);
                }
            }
            });
        });
    });
</script>
<link rel="stylesheet" href="/static/style.css">
<title>Calendar App</title>
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="ui middle aligned centered grid">
    <div class="twelve wide column">
        <div class="row">
            <h1>Your calendar</h1>
        </div>
        <p></p>
        <div id="calendar">

        </div>
        <div id="moment"></div>
    </div>
</div>
{% else %}
<body class="splash">
<div class="ui middle aligned centered grid">
    <div class="twelve wide column home-text text-offset">
        <h1>Welcome to Mood Calendar!</h1>
        <h3>Please login or sign up to get started tracking your moods.</h3>
    </div>
</div>
</body>
{% endif %}

{% endblock %}
