{% extends 'base.html' %}
{% block title %}
<title>Calendar App Edit {{ current_user.username }}</title>
{% endblock %}

{% block content %}
    <div class="ui middle aligned centered grid">
        <div class="row">
            <h1>Edit Profile</h1>
        </div>
    <form class="ui stacked segment large form" action="{{url_for('users.show', id=user.id)}}?_method=PATCH" method="POST">
        <div class="field">
            {{ form.csrf_token }}
        </div>
        <div class="field">
            {{form.username.label}}
            {{form.username(value=user.username)}}
        </div>
        {% for field in form %} 
        <div class="field">
            {% if field.name != 'csrf_token' and field.name != 'username' %}
            {{ field.label }} {{ field }}
            <br><span>
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            </span>
            {% endif %} 
        </div>
        {% endfor %}
        <button type="submit" class="ui yellow button">Edit Account &nbsp;&nbsp;<i class="write icon"></i></button>
    </form>
    </div>
    <div class="ui middle aligned centered grid">
    <form class="ui segment form" method="POST" action="{{url_for('users.show', id=user.id)}}?_method=DELETE">
        {{ form.csrf_token }}
        <button type="submit" class="ui red button">
            Delete Account &nbsp;&nbsp;<i class="remove user icon"></i>
        </button>
    </form>
    </div>
{% endblock %}
