{% extends 'base.html' %}
{% block title %}
<title>Calendar App {{ current_user.username }}</title>

{% endblock %}

{% block content %}
<div class="ui middle aligned centered grid">
    <div class="twelve wide column">
        <h1>{{current_user.username}}'s Calendar Journal</h1>
        <h3>Your History of Posts</h3>
        {% for date in dates %}
            <p><a class="ui basic teal button" href="{{url_for('dates.show', id=current_user.id, date_id=date.id)}}">Link</a> {{date}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}