{% extends 'base.html' %}
{% block title %}
<title>Calendar App Sign Up</title>
{% endblock %}

{% block content %}
    <div class="ui middle aligned centered grid">
        <div class="row">
            <h1>New User Signup</h1>
        </div>
    <form class="ui stacked segment large form" action="{{url_for('users.signup')}}" method="POST">
        {{ form.csrf_token }} 
        {% for field in form %} 
        <div class="field">
            {% if field.name != 'csrf_token' %}
            {{ field.label }} {{ field }}
            <br><span>
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            </span>
            {% endif %} 
            </div>
        {% endfor %}
        <div class="ui buttons">
            <button type="submit" class="ui teal button">Create an Account &nbsp;&nbsp;<i class="add user icon"></i></button>
            <div class="or"></div>
            <button class="ui button" onclick="this.form.reset();">Cancel</button>
        </div>
    </form>
    </div>
{% endblock %}
